#homeblocks {
display: flex;
flex-direction: row;
}

.inner-width.blocks {
margin-top: 0 !important;
margin-bottom: 0;
}

.block-one {
padding: 5rem;
background: #a8a8a8;
margin: 1rem 0;
width: 85vw;
height: 15vw;
text-align: center;
}

.block-one.one {
background: url(../images/stock-men-2.jpeg) no-repeat center;
}

.block-one.two {
background: url(../images/stock-womens-1.jpeg) no-repeat center;
}

.blocks a {
font-size: 1.3rem;
color: #ffffff;
background-color: #111111;
border: 3px solid #111111;
padding: 1rem;
}